<div class="jumbotron">
	<div class="container">
		<h1>Valentino Wong</h1>
		<p>Interactive Resume</p>
	</div>
</div>
		
		<%= render 'pages/profile' %>

		<%= render 'pages/experiences' %>

		<%= render 'pages/skills' %>

		<%= render 'pages/interests' %>

		<%= render 'pages/contact' %>